.botonCarrito {
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: green;
  margin: 3vh;
  font-weight: bold;
}
.productoDetalle {
  padding: 20px;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 10px;
}
