.producto {
  padding: 20px;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: antiquewhite;
  width: 250px;
  height: 200px;
  border-radius: 10px;
}
.productoImagen {
  width: 100px;
  align-self: center;
}
a {
  text-decoration: none;
}
